* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  height: 100vh;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

header{

  padding: 1rem;
}

main{

  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{

  padding: 2rem;
}

.title {
  width: 100%;
  padding-top: 12px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

span{

  font-weight: 600;
}

.logo {
  
  display: flex;
  justify-content: center;
  padding: 2rem;
  align-items: flex-end;
  color: black;
}

.anchor{

  padding: 1.5rem;
}

.logo img {
  width: 164px;
  background-color: white;
}



.logo p {
  font-size: 0.85rem;
  position: relative;
  margin-bottom: 16px;
}

form {
  width: 35%;
  padding: 19px 20px;
  border: 1px solid gray;
  border-radius: 8px;
  box-sizing: 10px;
  
}

.border{

  border: 1px solid transparent;
  border-radius: 8px;
  padding: 0.5rem;
}

.border:hover{

  border: 1px solid black;
}

.information p {
  font-size: 14px;
  font-weight: 600;
  padding-top: 5px;
}


.submit{

  text-decoration: none;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

button {
  width: 100%;
  min-height: 30px;
  background-color: #ffd814;
  border-radius: 10px;
  border: none;
  margin: 20px auto;
}

button a {
  text-decoration: none;
  color: #111111;
}

.signup-form h3 {
  margin: 5px 8px;
  font-size: 28px;
}

.signup-form p {
  font-size: 14px;
  color: #565959;
}

form input {
  width: 100%;
  min-height: 30px;
  border-radius: 4px;
  padding: 5px 8px;
  outline: none;
  text-decoration: none;
  border: 0.3px solid gray;
}

form p {
  margin: 5px 8px;
}

.customer a {
  font-size: 14px;
  color: rgba(10, 72, 142, 0.827);
}

.existing-customer {
  margin: 20px 6px;
  border-top: 1px solid gray;
}

.existing-customer h3 {
  font-size: 14px;
  padding-top: 15px;
}

.customer-pol p {
  font-size: 12px;
  margin: 20px 0px;
}
.footer-links {
  min-height: 86px;
  border-top: 1px solid gray;
  padding: 30px;
}

.footer-links p {
  text-align: center;
  color: #565959;
  font-size: 12px;
  padding: 10px;
}

.links {
  display: flex;
  justify-content: space-around;
  color: rgba(10, 72, 142, 0.827);
  font-size: 12px;
}

.footer-links p {
  margin: 10px 0;
}

a {
  color: rgba(10, 72, 142, 0.827);
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  form {
    width: 100%;
  }

  .links {
    flex-wrap: wrap;
  }

  .footer-links {
    display: table-column;
  }

  footer {
    width: 100%;
  }

  main {
    width: 100%;
    padding: 1rem;
  }

  header {
    width: 100%;
  }
}
